<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->
        <title id="newCallTitle">MiroTalk a Free Secure Video Calls, Chat & Screen Sharing.</title>
        <link id="shortcutIcon" rel="shortcut icon" href="../images/logo.svg" />
        <link id="appleTouchIcon" rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="MiroTalk powered by WebRTC, Real-time secure video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop"
        />

        <!-- https://ogp.me -->
        <meta property="og:type" content="{{OG_TYPE}}" />
        <meta property="og:site_name" content="{{OG_SITE_NAME}}" />
        <meta property="og:title" content="{{OG_TITLE}}" />
        <meta property="og:description" content="{{OG_DESCRIPTION}}" />
        <meta property="og:image" content="{{OG_IMAGE}}" />
        <meta property="og:url" content="{{OG_URL}}" />

        <!-- StyleSheet -->
        <link rel="stylesheet" href="../css/_tokens.css" />
        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <!-- https://animate.style 4 using for swal fadeIn-Out -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

        <!-- https://cdnjs.com/libraries/font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        <!-- JavaScripts -->
        <script async src="../js/stats.js"></script>

        <!-- xss -->
        <script src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>

        <!-- sweetalert -->
        <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8"></script>
    </head>
    <body class="has-animations">
        <div class="body-wrap">
            <main class="site-content">
                <section class="cta section center-content-mobile reveal-from-bottom mb-32" style="margin-top: 100px;">
                    <div class="container">
                        <div class="cta-inner section-inner cta-split br-12">
                            <div class="cta-slogan">
                                <h3 id="appJoinDescription" class="m-0">
                                    Pick a room name.<br />
                                    How about this one?
                                </h3>
                            </div>
                            <div class="cta-action">
                                <div class="mb-0">
                                    <label class="form-label screen-reader" for="roomName">MiroTalk-P2P</label>
                                    <div class="form-group-desktop">
                                        <div class="room-input-wrap">
                                            <input
                                                id="roomName"
                                                class="form-input"
                                                type="text"
                                                value="mirotalk"
                                                maxlength="64"
                                            />
                                            <button
                                                id="genRoomButton"
                                                class="room-gen-btn fas fa-arrows-rotate"
                                            ></button>
                                        </div>
                                        <button id="joinRoomButton" class="button button-primary br-6">
                                            Join Room
                                        </button>
                                    </div>
                                    <div class="mt-16">
                                        <button
                                            id="customizeRoomButton"
                                            class="button button-custom-room button-block br-6"
                                        >
                                            Customize Room
                                        </button>
                                    </div>
                                </div>
                                <div id="lastRoomContainer" class="last-room">
                                    <span id="appJoinLastRoom">Your recent room:</span>
                                    <a id="lastRoom"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <script defer src="../js/utils.js"></script>
        <script defer src="../js/brand.js"></script>
        <script defer src="../js/landing.js"></script>
        <script defer src="../js/common.js"></script>
    </body>
</html>